@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Sen", sans-serif; 
}
body {
    background-color: #0D0F23;
    color: #fff;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}*